body {
    background-color: black;
    display: flex;
    justify-content: center;
    font-family: "Quantico", sans-serif;
}

#main-container {
    width: 60%;
    height: 100vh;
    background-color: white;
    display: flex;
}

#background-image {
    width: 40%;
    height: 100%;
    background-image: url("Assets/Space\ Marine.jpg");
    background-size: cover;
    background-position: center;
}

#form-container {
    width: 60%;
    padding: 2rem;
}

form {
    margin-top: 2rem;
}

#form-flex-container {
    display: flex;
    justify-content: left;
    gap: 4rem;
}

label {
    font-size: 0.75rem;
}

input {
    display: block;
    font-family: "Quantico", sans-serif;
}

button {
    margin-top: 1rem;
    background-color: rgb(22, 101, 22);
    color: white;
    font-family: inherit;
    border-radius: 5px;
    padding: 0.2rem;
    box-shadow: 2px 2px 2pxpx black;
}

button:hover {
    cursor: pointer;
}

