body {
    background-color: black;
    display: flex;
    justify-content: center;
    font-family: "Quantico", sans-serif;
}

#main-container {
    width: 60%;
    height: 100vh;
    background-color: white;
    display: flex;
}

#background-image {
    width: 40%;
    height: 100%;
    background-image: url("Assets/Space\ Marine.jpg");
    background-size: cover;
    background-position: center;
}

#form-container {
    width: 60%;
    padding: 2rem;
}

form {
    display: flex;
    justify-content: space-around ;
    margin-top: 2rem;
}

label {
    font-size: 0.75rem;
}

input {
    display: block;
}

